<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Página não encontrada</PageTitle>
        <h3>Página não encontrada</h3>
    </NotFound>
</Router>
